.box-item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border: 0.2rem solid black;
    border-radius: 2%;
}

.item-detail-container img{
    height: 20rem;
    padding-right: 5rem;
    border-right: 0.2rem solid black;
    margin-right: 2rem;
}

.item-title {
    padding: 3rem;
}

.item-detail-container-add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-description {
    font-size: 1.5rem;
}

.item-price {
    font-size: 3rem;
}

.quantity {
    margin: 1.5rem;
    height: 2rem;
    width: 2rem;
}
